@model IEnumerable<ContoscoUniversity.ViewModels.EnrollmentDateGroup>


@{ 

    ViewBag.Title = "About Student Data";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students Enrollelled on this date
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(ModelItem => item.EnrollmentDate)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.StudentCount)

        </td>
    </tr>


    
</table>
}